body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 50px;
}

h1 {
    margin: 60px auto 50px;
    background-color: rgb(212, 202, 61);
    width: 15%;
    display: block;
    padding: 10px;
    border-radius: 15px;
    color: #fff;
}

.todo-container {
    background-color: rgb(209, 180, 172);
    width: 80%;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
}

.write-task {
    width: 50%;
    margin: auto;
    margin-bottom: 30px;
}

.write-task span.add-task {
    height: 35px;
    width: 35px;
    background-color: #b49;
    color: #fff;
    display: inline-block;
    line-height: 35px;
    font-size: 30px;
    border-radius: 50%;
    box-shadow: 2px 2px 3px #7147;
    position: relative;
    top: 5px;
    cursor: pointer;
    user-select: none;
}

.write-task form {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-right: 20px;
    width: calc(100% - 40px - 20px);
}

.write-task input {
    padding: 5px 15px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 7px;
}

.write-task input:focus {
    outline: none;
}

.tasks-container, .finsihed-tasks-container {
    position: relative;
    width: 50%;
    margin: auto;
}

.tasks-container>div, .finsihed-tasks-container>div {
    padding: 5px 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 7px;
}

.tasks-container .task {
    display: flex;
}

.tasks-container .no-task {
    color: #888;
    text-decoration: none;
}

.tasks-container .task span:first-of-type {
    flex: 8;
    padding-top: 4px;
}

.tasks-container .task span:nth-of-type(2), .all-operations span:first-of-type {
    flex: 1;
    background-color: #397;
    color: #fff;
    padding: 4px 7px;
    border-radius: 7px;
    cursor: pointer;
    user-select: none;
    margin-right: 5px;
}

.tasks-container .task span:last-of-type, .all-operations span:last-of-type {
    flex: 1;
    background-color: #b44;
    color: #fff;
    padding: 4px 7px;
    border-radius: 7px;
    cursor: pointer;
    user-select: none;
}

.all-operations {
    margin-top: 20px;
    letter-spacing: 1px;
}

.tasks-info {
    margin: 30px;
    margin-bottom: 50px;
}

.tasks-info>div {
    margin-bottom: 10px;
}

.tasks-info span {
    color: #fff;
    padding: 2px 5px;
    border-radius: 5px;
}

.tasks-info .current-tasks-count span {
    background-color: #393;
}

.tasks-info .finished-tasks-count span {
    background-color: #339;
}

.finsihed-tasks-container .finished-task span:not(:last-of-type) {
    color: #494;
    text-decoration: line-through;
}

.finsihed-tasks-container .no-finished-tasks {
    color: #888;
}

.finsihed-tasks-container .finished-task {
    position: relative;
}

.finsihed-tasks-container .finished-task span.remove-finished {
    color: #999;
    position: absolute;
    right: 0;
    top: 5px;
    margin-right: 10px;
    cursor: pointer;
    user-select: none;
}